---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '@/components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout>
  <div class="mx-auto max-w-screen-md">
    <div class="grid grid-cols-2 gap-6">
      {
        posts.map((post, i) => (
          <div class={i == 0 ? 'col-span-2 mb-7 text-center' : 'col-span-2 mb-7 md:col-span-1'}>
            <a
              href={`/blog/${post.id}/`}
              class="transition-colors dark:text-white/80 dark:hover:text-white"
            >
              <img class="mb-4 rounded-2xl" src={post.data.heroImage} alt="" />
              <h3 class="mb-1 text-3xl font-medium">{post.data.title}</h3>
              <p class="mb-0 opacity-50">
                <FormattedDate date={post.data.pubDate} />
              </p>
            </a>
          </div>
        ))
      }
    </div>
  </div>
</BaseLayout>
