---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '@/components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayout>
  <div class="row">
    <div class="col-lg-10 col-xl-8 mx-auto">
      <div class="row">
        {
          posts.map((post, i) => (
            <div class={i == 0 ? 'col-12 text-center mb-5' : 'col-md-6 mb-5'}>
              <a href={`/blog/${post.slug}/`} class="text-body">
                <img class="img-fluid rounded-4 mb-3" src={post.data.heroImage} alt="" />
                <h3 class="h2 mb-1">{post.data.title}</h3>
                <p class="opacity-50 mb-0">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
