html {
  overflow-y: scroll;
}

body {
  font-size: toRem(15px);
  line-height: 1.7;
  letter-spacing: 0.2px;
}

.dark {
  color-scheme: dark;
}

a {
  color: #1d4ed8;

  &:hover {
    color: #1e3a8a;
  }
}

a:where(.dark, .dark *) {
  color: #1ac6ff;

  &:hover {
    color: #48d1ff;
  }
}

strong {
  font-weight: 500;
}

svg {
  display: inline;
}

p {
  margin-bottom: 1rem;
}
