@function toRem($size) {
  @return calc($size / 16px * 1rem);
}

$spacer: toRem(16px);
$spacers: (
  0: 0,
  1: toRem(4px),
  2: toRem(8px),
  3: toRem(16px),
  4: toRem(24px),
  5: toRem(48px),
  6: toRem(72px),
);

$link-decoration: none;

$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: toRem(15px);
$line-height-base: 1.7;

$table-bg: transparent;

$navbar-padding-y: toRem(20px);
$navbar-nav-link-padding-x: 16px;
$navbar-brand-font-size: toRem(27px);
$navbar-brand-padding-y: 0;

$badge-font-weight: 500;

// variables dark

$body-secondary-bg-dark: #333; // navbar
$body-tertiary-bg-dark: #2f2f2f; // main section
$body-bg-dark: #2a2a2a; // footer
$body-color-dark: #ccc;
$headings-color-dark: #fff;
$link-color-dark: #1ac6ff;
