/* https://tailwindcss.com/docs/detecting-classes-in-source-files#setting-your-base-path */
@import 'tailwindcss' source('../../src');

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;

  /* use oklch ? */
  --color-neutral-750: #333;

  /* https://tailwindcss.com/docs/colors#disabling-default-colors */
  /* keep sky, blue, gray, neutral, black, white */
  --color-red-*: initial;
  --color-orange-*: initial;
  --color-amber-*: initial;
  --color-yellow-*: initial;
  --color-lime-*: initial;
  --color-green-*: initial;
  --color-emerald-*: initial;
  --color-teal-*: initial;
  --color-cyan-*: initial;
  --color-indigo-*: initial;
  --color-violet-*: initial;
  --color-purple-*: initial;
  --color-fuchsia-*: initial;
  --color-pink-*: initial;
  --color-rose-*: initial;
  --color-slate-*: initial;
  --color-zinc-*: initial;
  --color-stone-*: initial;

  --font-display: 'Rubik', sans-serif;
  --font-sans: 'Inter', sans-serif;

  /* 15 / 16 */
  --text-base: 0.9375rem;
  --text-base--line-height: 1.7;

  --aspect-retro: 4 / 3;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@layer base {
  html {
    overflow-y: scroll;
  }

  body {
    @apply text-base tracking-[0.2px];
  }

  .dark {
    color-scheme: dark;
  }

  a {
    @apply text-blue-700 hover:text-blue-900 dark:text-sky-400 dark:hover:text-sky-300;
  }

  strong {
    font-weight: 500;
  }

  svg {
    display: inline;
  }

  p {
    margin-bottom: 1rem;
  }

  /* 
  https://rehype-pretty-code.netlify.app/#styles
  https://shiki.style/
  */

  pre ::selection {
    background: #3e4451;
  }

  pre {
    @apply mb-4 rounded-md border border-white/10 px-5 py-4;

    /* code {
      counter-reset: step;
      counter-increment: step 0;

      .line::before {
        @apply mr-6 inline-block w-4 text-right text-neutral-500/50;
        content: counter(step);
        counter-increment: step;
      }
    } */
  }
}
