/* https://tailwindcss.com/docs/detecting-classes-in-source-files#setting-your-base-path */
@import 'tailwindcss' source('../../src');
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

/* https://github.com/tailwindlabs/tailwindcss-typography/issues/329 */
@custom-variant prose-inline-code (&.prose :where(:not(pre)>code):not(:where([class~="not-prose"] *)));

@theme {
  --font-display: 'Rubik', sans-serif;
  --font-sans: 'Inter Variable', sans-serif;

  /* 15 / 16 */
  --text-base: 0.9375rem;
  --text-base--line-height: 1.7;

  --aspect-retro: 4 / 3;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@layer base {
  html {
    overflow-y: scroll;
  }

  body {
    @apply text-base tracking-[0.2px];
  }

  .dark {
    color-scheme: dark;
  }

  a {
    @apply text-blue-700 hover:text-blue-900 dark:text-sky-400 dark:hover:text-sky-300;
  }

  strong {
    font-weight: 500;
  }

  svg {
    display: inline;
  }

  p {
    margin-bottom: 1rem;
  }

  /* 
  https://rehype-pretty-code.netlify.app/#styles
  https://shiki.style/
  */

  pre ::selection {
    background: #3e4451;
  }

  pre {
    @apply mb-4 rounded-md border border-white/10 px-5 py-4;

    /* code {
      counter-reset: step;
      counter-increment: step 0;

      .line::before {
        @apply mr-6 inline-block w-4 text-right text-neutral-500/50;
        content: counter(step);
        counter-increment: step;
      }
    } */
  }
}
