---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="About">
  <div class="grid gap-6 md:mt-6 md:grid-cols-2">
    <div>
      <p class="mb-4 text-2xl font-light md:mt-6">
        Hi, my name is David and I create web sites, web apps, and interactive 3D web graphics.
      </p>
      <p>
        As a front end web developer and design engineer with over 20 years of experience, I
        collaborate with cross-disciplinary teams to translate static UX designs into clean,
        functional, responsive and accessible HTML, CSS and JavaScript. As a 3D artist, I translate
        2D concept art into real-time 3D models and animations.
      </p>
      <p class="mb-12">
        While my current favorite tools include Three.js, React, Tailwind, VS Code, Blender and
        ZBrush, my understanding of the fundamentals of art, design and code can transfer to any
        application or stack, and I'm always learning, experimenting and exploring new ways to
        combine my creative and technical skills.
      </p>
    </div>
    <div class="text-center">
      <img
        src="/david-lyons.jpg"
        alt="David Lyons"
        class="mb-6 inline size-72 rounded-full shadow-lg"
      />
    </div>
  </div>
</BaseLayout>
