---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import PortfolioPreview from '@/components/PortfolioPreview.astro';
import { SITE_DESCRIPTION } from '@/consts';

const projects = (await getCollection('work')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title={SITE_DESCRIPTION}>
  <div class="grid">
    {projects.map((project) => <PortfolioPreview project={project} />)}
  </div>
</BaseLayout>

<style lang="scss">
  @import 'bootstrap/scss/functions';
  @import 'bootstrap/scss/variables';
  @import 'bootstrap/scss/mixins/breakpoints';

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(6, 1fr);
    }
  }
</style>
