---
import { Icon } from 'astro-icon/components';
import SocialLink from './SocialLink.astro';
---

<footer class="py-6 text-center text-neutral-500 dark:text-neutral-300/30">
  <div class="container items-center sm:flex sm:justify-between">
    <div class="text-sm">
      <a
        href="mailto:david@davidlyons.dev"
        class="inline-flex items-center text-neutral-500 transition-colors hover:text-neutral-700 dark:text-neutral-300/30 dark:hover:text-neutral-300/80"
      >
        <Icon name="envelope" size={16} class="me-2" />
        david@davidlyons.dev
      </a>
    </div>
    <div class="mb-3 mt-2 sm:order-3 sm:my-0">
      <SocialLink
        href="https://www.linkedin.com/in/davidxlyons"
        label="LinkedIn"
        icon="linkedin"
      /><SocialLink
        href="https://x.com/davidxlyons"
        label="X / Twitter"
        icon="twitter-x"
      /><SocialLink href="https://github.com/davidlyons" label="GitHub" icon="github" /><SocialLink
        href="https://codepen.io/davidlyons"
        label="Codepen"
        icon="codepen"
      /><SocialLink
        href="https://sketchfab.com/davidlyons"
        label="Sketchfab"
        icon="sketchfab"
      /><SocialLink
        href="/rss.xml"
        label="RSS Feed"
        icon="rss"
        rel="alternate"
        type="application/rss+xml"
      />
    </div>
    <div class="text-sm">&copy; {new Date().getFullYear()} David Lyons</div>
  </div>
</footer>
