---
import HeaderLink from './HeaderLink.astro';
import HeaderCanvas from './HeaderCanvas.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
---

<header transition:persist>
  <nav class="relative bg-neutral-50 py-5 dark:bg-neutral-750">
    <HeaderCanvas />
    <div class="container relative flex flex-col items-center sm:flex-row">
      <div class="mb-4 leading-[1.2] sm:mb-0 sm:me-4">
        <a
          class="font-display text-[27px] uppercase text-black hover:text-black dark:text-white dark:hover:text-white"
          href="/"
        >
          {SITE_TITLE}
        </a>
        <div class="text-xs tracking-wide opacity-50">{SITE_DESCRIPTION}</div>
      </div>
      <ul class="flex sm:ms-auto lg:mb-0">
        <HeaderLink href="/">Work</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/resume">Resume</HeaderLink>
      </ul>
    </div>
  </nav>
</header>
