---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<li>
  <a
    href={href}
    class:list={[
      'block px-4 py-2 text-neutral-600 opacity-60 transition-opacity hover:text-neutral-600 hover:opacity-80 dark:text-white dark:hover:text-white',
      className,
      { '!opacity-100': isActive },
    ]}
    {...props}
  >
    <slot />
  </a>
</li>
