---
import type { CollectionEntry } from 'astro:content';

type Props = {
  project: CollectionEntry<'work'>;
};

const { data, id } = Astro.props.project;
---

<a
  class="group relative overflow-hidden rounded-lg transition-shadow duration-300 hover:shadow-lg
    hover:outline-hidden focus-visible:shadow-lg focus-visible:outline-hidden"
  href={`/work/${id}`}
>
  <div class="aspect-square">
    <img
      src={data.img}
      alt={data.img_alt || ''}
      loading="lazy"
      decoding="async"
      class="h-full w-full object-cover"
    />
  </div>
  <div
    class="pointer-events-none absolute inset-0 flex flex-col justify-end bg-linear-to-t
      from-black/65 to-40% px-5 py-3 text-white opacity-0 transition-opacity duration-300
      group-hover:opacity-100 group-focus-visible:opacity-100"
  >
    <div class="font-medium">
      {data.title}
    </div>
  </div>
</a>
