---
import type { CollectionEntry } from 'astro:content';

type Props = {
  project: CollectionEntry<'work'>;
};

const { data, slug } = Astro.props.project;
---

<a
  class="group relative overflow-hidden rounded-lg transition-shadow hover:shadow-lg hover:outline-none
    focus-visible:shadow-lg focus-visible:outline-none"
  href={`/work/${slug}`}
>
  <div class="aspect-square">
    <img
      src={data.img}
      alt={data.img_alt || ''}
      loading="lazy"
      decoding="async"
      class="h-full w-full object-cover"
    />
  </div>
  <div
    class="pointer-events-none absolute inset-0 flex flex-col justify-end bg-gradient-to-t from-black/60 to-40%
      px-5 py-3 text-white opacity-0 transition-opacity group-hover:opacity-100
      group-focus-visible:opacity-100"
  >
    {data.title}
  </div>
</a>
