---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, ...props } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noreferrer"
  aria-label="Open project in new window"
  class="mb-5 inline-block w-full truncate font-medium"
  {...props}
>
  <Icon name="link" class="me-1 shrink-0" size={20} aria-hidden="true" />
  <span>{href}</span>
</a>
