---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';

type Props = {
  aspect: 'square' | 'video' | 'auto' | '4/3';
} & HTMLAttributes<'iframe'>;

const { src, aspect = 'video', title, ...props } = Astro.props;
---

<iframe
  src={src}
  title={title}
  allow="accelerometer; autoplay; clipboard-write; fullscreen; encrypted-media; gyroscope; picture-in-picture; web-share"
  class={`mb-4 aspect-${aspect} w-full overflow-hidden rounded-lg`}
  {...props}
>
</iframe>

<p class="mb-11">
  <a
    href={src}
    target="_blank"
    class="inline-flex items-center gap-1.5"
    aria-label="Open project in new window"
  >
    Open <Icon name="box-arrow-up-right" size={16} />
  </a>
</p>
